PORT = 4000
NODE_ENV = "dev"

DB_USERNAME = "<DB_USERNAME>"
DB_PASSWORD = "<DB_PASSWORD>"
DB_HOST = "<DB_HOST>"
DB_PORT = 5432
DB_NAME = "<DB_NAME>"

FRONTEND_APP_URL = "http://localhost:3000"
ADMIN_APP_URL = "http://localhost:3001"
VECTOR_SERVER_URL = "http://127.0.0.1:4001"

BETTER_AUTH_SECRET = "<BETTER_AUTH_SECRET>"

SERVER_KEY = "Gx18dL4pM2a"

GOOGLE_CLIENT_ID = "<GOOGLE_CLIENT_ID>"
GOOGLE_CLIENT_SECRET = "<GOOGLE_CLIENT_SECRET>"
GOOGLE_REDIRECT_URI = "<GOOGLE_REDIRECT_URI>"
GOOGLE_AUTH_REDIRECT_URI = "http://localhost:4000/internal/auth/callback/google"

SLACK_CLIENT_ID = "<SLACK_CLIENT_ID>"
SLACK_CLIENT_SECRET = "<SLACK_CLIENT_SECRET>"
SLACK_REDIRECT_URI = "http://localhost:4000/open/slack/callback"

SALESFORCE_CLIENT_ID = "<SALESFORCE_CLIENT_ID>"
SALESFORCE_CLIENT_SECRET = "<SALESFORCE_CLIENT_SECRET>"
SALESFORCE_REDIRECT_URI = "http://localhost:4000/open/salesforce/callback"

ATLASSIAN_CLIENT_ID = "<ATLASSIAN_CLIENT_ID>"
ATLASSIAN_CLIENT_SECRET = "<ATLASSIAN_CLIENT_SECRET>"
ATLASSIAN_REDIRECT_URI = "http://localhost:4000/open/atlassian/callback"

INDEX_QUEUE = "index_queue"
ADD_VECTOR_ENTITY_QUEUE = "add_vector_entity_queue"
DELETE_VECTOR_ENTITY_QUEUE = "delete_vector_entity_queue"

REDIS_HOST = 'localhost'
REDIS_PORT = 6379

DEFAULT_REINDEX_INTERVAL = 600000

OPENAI_API_KEY = "<OPENAI_API_KEY>"

MILVUS_URI = "<MILVUS_URI>"
MILVUS_TOKEN = "<MILVUS_TOKEN>"