APP_URL = "http://localhost:3000"
SERVER_URL = "http://localhost:4000"

GOOGLE_CLIENT_ID = "<GOOGLE_CLIENT_ID>"
GOOGLE_REDIRECT_URI = "<GOOGLE_REDIRECT_URI>"

SLACK_CLIENT_ID = "<SLACK_CLIENT_ID>"
SLACK_REDIRECT_URI = "<SLACK_REDIRECT_URI>"

SALESFORCE_CLIENT_ID = "<SALESFORCE_CLIENT_ID>"
SALESFORCE_REDIRECT_URI = "<SALESFORCE_REDIRECT_URI>"

ATLASSIAN_CLIENT_ID = "<ATLASSIAN_CLIENT_ID>"
ATLASSIAN_REDIRECT_URI = "<ATLASSIAN_REDIRECT_URI>"