PORT = 4001
NODE_ENV = "dev"
OPENAI_API_KEY = "<OPENAI_API_KEY>"
GOOGLE_API_KEY = "<GOOGLE_API_KEY>"
SERVER_KEY = "Gx18dL4pM2a"
SERVER_URL = "http://localhost:4000"

MILVUS_URI = "<MILVUS_URI>"
MILVUS_TOKEN = "<MILVUS_TOKEN>"

ADD_VECTOR_ENTITY_QUEUE = "add_vector_entity_queue"
DELETE_VECTOR_ENTITY_QUEUE = "delete_vector_entity_queue"

REDIS_HOST = localhost
REDIS_PORT = 6379

DB_USERNAME = "<DB_USERNAME>"
DB_PASSWORD = "<DB_PASSWORD>"
DB_HOST = "<DB_HOST>"
DB_PORT = 5432
DB_NAME = "<DB_NAME>"